<!-- 这一页为医生个人信息的详细页面 ，页面布局为导航条显示医生姓名和返回按钮，主体内容为医生个人信息-->
<script src="$!{rc.contextPath}/js/content.js"></script>
<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="javascript:back()">返回</a>
	</div>
	<div class="navbar-brand">医生姓名：$!{doctor.name}</div>
	</div>
</nav>
<div class="container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="col-sm-12" style="margin-top: 20px; height: 200px;">医生的图片:$!{doctor.img}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.name}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.userId}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.userPw}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.payId}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.payPw}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.sex}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.birthday}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.mobile}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.mail}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.qq}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.country}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.province}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.city}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.name}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.district}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.address}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.wCode}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.wName}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.wLogo}</div>
			<div class="col-sm-12">医生的详情：$!{doctor.atTime}</div>

		</div>
		<div class="col-sm-8">
			<div class="col-sm-12">页底</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>