#parse("layout/navigation.html")
<div class="container">
	<div class="row">
		<div id="index-view" class="col-sm-12">
			<div id="index-view-statistic" class="col-sm-12"></div>
			<!-- 显示统计页面 -->
			<div id="index-view-article" class="col-sm-6"></div>
			<!-- 显示文章列表 -->
			<div id="index-view-chart" class="col-sm-6"></div>
			<!-- 图表显示 -->
			<div id="index-view-information" class="col-sm-1"></div>
			<!-- 显示医生患者会议信息 -->
		</div>
	</div>
</div>
<script src="${rc.contextPath}/js/index.js"></script>