<nav class="navbar navbar-default" role="navigation">
	<div class="navbar-header">
		<a class="navbar-brand" href="javascript:back()">返回</a>
	</div>
	<div class="navbar-body">新增医生信息</div>
	</div>
</nav>

<div class="container">
<div class="row">
<form role="form">
   <div class="form-group">
      <label for="name">姓名</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称">
   </div>
   <div class="form-group">
      <label for="name">性别</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称">
   </div><div class="form-group">
      <label for="name">联系电话</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称">
   </div><div class="form-group">
      <label for="name">用户名</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称">
   </div><div class="form-group">
      <label for="name">公众号</label>
      <input type="text" class="form-control" id="name" 
         placeholder="请输入名称">
   </div>
</form>




</div>
</div>