<div class="container" heigth="768px">
	<div class="row" height="200px">
		<div class="col-sm-12" height="200px">
			<div class="col-sm-4">
				<img src="${rc.contextPath}/images/logo.jpg" width="90px">
			</div>
			<div class="col-sm-8" height="100px">
				<div class="col-sm-2 col-sm-offset-6">
					<a href="#">立即注册</a>
				</div>
				<div class="col-sm-2">
					<a href="#">使用帮助</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
			<div class="col-sm-12">
				<h3>
					<strong>&nbsp;&nbsp;康众医学</strong>
				</h3>
			</div>
			<div id="news" class="col-sm-6">
			
			</div>
			<div class="col-sm-6">
				<div class="col-sm-4 col-sm-offset-4"
					style="box-shadow: 5px 5px 5px; width: 250px; height: 300px; background-color: rgb(249, 249, 249);">
					<form style="margin-left: 10px;">
						<h3 style="margin-left: 50px;">欢迎登录</h3>
						<div class="col-sm-12" style="margin-top: 15px">
							<input class="form-control" id="inputusername" placeholder="用户名"
								title="请输入用户名！" type="text">
						</div>
						<div class="col-sm-12" style="margin-top: 15px">
							<input class="form-control" id="inputpassword" placeholder="密码"
								title="请输入密码！" type="password">
						</div>
					</form>
					<div class="col-sm-12" style="margin-top: 15px">
						<button type="button" class="btn btn-default"
							onclick="javascript:login()"
							style="width: 180px; margin-left: 10px;">登&nbsp;&nbsp;录
						</button>
					</div>
				</div>
			</div>
	</div>
		<div class="row" style="height: 180px;"></div>
		<div class="row">
			<div class="col-sm-offset-8">
				<p>©2015 康众医生 版权所有</p>
			</div>
		</div>

	<script src="${rc.contextPath}/js/login.js"></script>