<link href="${rc.contextPath}/css/index.css" rel="stylesheet">
<link href="${rc.contextPath}/css/statics.css" rel="stylesheet">
<!-- 统计文章，医生，患者，媒体文件数量 -->
<div id="showIndex" class="controls">
	<ul class="sui-nav nav-tabs tab-wraped">
		<li><a>
				<h3>医生总数</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">$!{doctors.count}</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>患者总数</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">$!{patients.count}</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>资金情况</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">300</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>已有文章</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">499</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>在线病历</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">300</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>已有视频</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">300</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
		<li><a>
				<h3>已有音频</h3>
				<ul class="unstyled">
					<li><label>总数</label><strong class="sui-text-warning">300</strong>
					</li>
					<li><label>占比</label><span class="sui-text-info">33%</span></li>
				</ul>
		</a></li>
	</ul>
</div>